{% extends "src/base.html" %}
{% block title %}Страница не существует - botify.{% endblock %}
{% block content %}
	{{ block("navbar", "blocks/navbar.html") }}
	<div class="container-fluid">
		{{ block("header", "blocks/header.html") }}
		<div class="d-flex justify-content-center align-items-center">
			<div class="col-sm-6 col-lg-5 col-xl-3 mt-3  d-flex justify-content-center m-0 p-0">

				<div class="w-100 text-center" style="">

					  <h1 class="h1 font-weight-bold" style="font-size: 7rem;">
              <span style="color: {{COLOR_PRIMARY}}">4</span>
              <span style="color: {{COLOR_PRIMARY_LIGHT}}">0</span>
              <span style="color: {{COLOR_PRIMARY}}">4</span>
            </h1>

            <div class="">
              <p class="mb-0">Похоже, эта страница не существует.</p>
              <a href="{{ BASE_PATH }}" class="btn btn-primary mt-5 py-2 px-3">Вернуться на главную</a>
            </div>

				</div>


			</div>
		</div>

	</div>
{% endblock %}
{% block js %}

	</script>
{% endblock %}
