<?php

return [
  'bot.token'               => '1234567890:ABC_DE',
  'bot.url'                 => 'https://example.com/bot.php',
  'bot.web'                 => 'https://example.com/',
  'bot.version'             => '1.0.0',
  'bot.username'            => '@botify',
  'bot.debug'               => true,
  'bot.timezone'            => 'Europe/Samara',
  'bot.spam_timeout'        => 1,
  'bot.default_lang'        => 'en',
  'bot.max_system_load'     => 0.80,
  'bot.max_execution_time'  => 60,

  'admin.list'              => ['botify'],
  'admin.password'          => 'hackme',

  'telegram.parse_mode'     => 'html',

  'database.check_tables'   => false,
  'database.driver'         => false,
  'database.path'           => '/path/to/database.sqlite',
  'database.host'           => 'localhost',
  'database.database'       => 'botify',
  'database.username'       => 'botify',
  'database.password'       => 'hackme',
  'database.charset'        => 'utf8mb4',
  'database.collation'      => 'utf8mb4_unicode_ci',
  'database.lazy'           => true,

  'cache.driver'            => false,
  'cache.host'              => 'localhost',
  'cache.port'              => '11211',

  'log.db_store_messages'   => false,
  'log.autolog'             => false,
  'log.dir'                 => '/path/to/log/dir/',

  'botify.start' => [
    'chat' => 123456
  ],
];
